*{
  box-sizing: content-box;
  margin: 0;
  padding: 0;
}
.App{
  background-color: black;
  text-align: center;
  top: 0;
  left: 0;
  height: 100vh;
  position: relative;
  z-index: 100;
}

.settingsBtn{
  -webkit-transition: -webkit-transform 1s;
}
.settingsBtn:hover{
  -webkit-transform: rotate(360deg) translateZ(0);
  cursor: pointer;
}
.closeButton{
  -webkit-transition: -webkit-transform 1s;
}
.closeButton:hover{
  -webkit-transform: rotate(-360deg) translateZ(0);
  cursor: pointer;
}
.settings {
  color: white;
  background: black;
  box-shadow: 2px 0px 5px rgba(5, 2, 2, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 25%;
  max-width: 400px;
  min-height: 100%;
  z-index: 200;
}

.settings a {
  color: white;
  text-decoration: none;
}
.settings ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}
.settings li {
  width: 100%;
}
.settingsTitle{
  text-align: left;
  padding: 20px 0 50px 50px;
  font-size: 48px;
}
.player{
  padding: 30px;
  font-size: 28px;
}
.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 100;
  top: 0;
  left: 0;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}
.clocks{
  text-align: left;
  padding: 20px 0 20px 20px;
  width: 100%;
}
.checkBtn{
  -webkit-transition: -webkit-transform 0.4s;
}
.checkBtn:hover{
  -webkit-transform: scale(1.2);
  cursor: pointer;
}
