*{
  box-sizing: content-box;
  margin: 0;
  padding: 0;
}
.App{
  text-align: center;
  top: 0;
  left: 0;
  height: 100vh;
  position: relative;
  opacity: 0.9;
}
@keyframes rotateSettings {
  from {rotate: 0;}
  to {rotate: 360deg;}
}
.settingsBtn:hover{
  animation: rotateSettings 1s;
}
.settings {
  background: black;
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 25%;
  height: 100%;

}
.settings a {
  color: white;
  text-decoration: none;
}
.settings ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}
.settings li {
  padding: 0 0.5rem;
}
